#app {
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
	max-width: 400px;
	border: 1px solid #000;
	width: 100%;
	overflow-x: hidden;
}

h2 {
	text-align: center;
}
.wb {
	word-break: break-all;
}
.h4-arr::after {
	content: "→";
	position: absolute;
	right: 0;
	top: 0;
}
.h4-arr:nth-last-child(1)::after {
	content: "";
	position: relative;
	right: 0;
}
.rh {
	width: 100%;
	text-align: center;
}
.rh button {
	padding: 5px 1px;
	margin: 0 2px;
}

.row.content {
	margin-top: 80px;
}
.fix {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 20px 10px;
	background-color: #fff;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
@media screen and (min-device-width: 480px)
{
  .fix
  {
    display: none;
  }
}
