#app {
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
	max-width: 400px;
	border: 1px solid #000;
}

h2 {
	text-align: center;
}
.wb {
	word-break: break-all;
}
.h4-arr::after {
	content: "→";
	position: absolute;
	right: 0;
	top: 0;
}
.h4-arr:nth-last-child(1)::after {
	content: "";
	position: relative;
	right: 0;
}
.rh button {
	margin: 0 5px;
}